page-register {
	   .toolbar-background-md {
        border-color: none;
        background: transparent;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #303030;
    }
    .scroll-content {
        background-size: cover;
        background-image: url(../assets/img/back.jpg) !important;
    }
    .button-md {
        text-transform: none;
    }
    .card-md {
        opacity: 0.9;
    }
}
