// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.header-background-image {
    background-image: url(../assets/images/logo/login.png);
    height: 200px;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #fff;
}

.header-background-image::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    background-color: #2f3974 !important;
}

.zoom-in {
    -webkit-animation: zoomIn 500ms;
    -moz-animation: zoomIn 500ms;
    -o-animation: zoomIn 500ms;
    animation: zoomIn 500ms;
}

.menu-title {
    text-align: center;
    color: #d12829 !important;
    font-weight: bold;
}

// Spiner View
.spinner-view {
    img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
}

// Settings Style Main Meni
.header-background-image {
    background-image: url('../assets/images/background/16.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;
    @include darkening-blend-mode;
    ion-thumbnail {
        padding-top: 40px;
        img {
            margin: 0 auto;
            position: relative;
            z-index: 9;
            max-width: 80px;
        }
    }
    [item-title] {
        position: relative;
        z-index: 9;
    }
}

// Settings Main  Menu
.main-menu {
    h2 {
        color: theme-colors('textColors', 'primary');
        font-weight: 300 !important;
    }
    ion-icon {
        color: theme-colors('textColors', 'primary');
        float: left;
        padding-left: 30px;
        margin-right: 10px;
    }
}

// Settings Submenu
.submenu {
    h2 {
        color: theme-colors('textColors', 'primary');
        font-weight: 300 !important;
    }
    ion-label {
        padding-left: 30px !important;
    }
}


.footer-b1 {
    margin: 0px;
    height: 50px;
    color: #4958b2;
    background: #f2f2f2;
    text-transform: none;
}

.fiveStar {
    width: 100%;
    background: #388e3c;
    height: 5px;
    float: left;
}

.fourStar {
    width: 80%;
    background: #388e3c;
    height: 5px;
    float: left;
}

.threeStar {
    width: 30%;
    background: #388e3c;
    height: 5px;
    float: left;
}

.twoStar {
    width: 20%;
    background: #ff9f00;
    height: 5px;
    float: left;
}

.oneStar {
    width: 50%;
    background: #ff6161;
    height: 5px;
    float: left;
}
